@page
@{
    ViewData["Title"] = "Location - OptiMindSolutions";
}
<!--
<div class="map-container">
    <h1>Ubicación de OptiMind Solutions</h1>
    <iframe src="https://www.openstreetmap.org/export/embed.html?bbox=-3.705047607421875%2C40.41325584099885%2C-3.70145320892334%2C40.4188885231698&layer=mapnik" allowfullscreen=""></iframe>
</div>

-->
